.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding: 32px 0 24px 0 ;
}
.wrapperPol{
    display: grid;
    column-gap: 32px;
    row-gap: 24px;
    grid-template-columns: 304px 976px;
}
