@import '../../styles/variables/all.scss';

.pepolWrapp{
    
}
.pepol{
    height: 210px;
    padding: 24px 0 24px 0;
    border-bottom: 1px solid $Neutral-30;
}
.pepol:nth-last-child(1){
    border-bottom: none;
}
.columns{
    grid-column: 1/2;
    min-height: 991px; 
    padding: 16px 16px 24px 16px;
    background: $Neutral-10;
    border-radius: 12px;
}
.wrapperCol{
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: 600;
    font-size: $font-size-md-h;
    line-height: 140%;
    color: $Neutral-100;
}
.allCol{
    border: none;
    background:none;
    font-weight: 600;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Main-color-Orange;
    cursor: pointer;
}

.wrapperFoTex{
    display: flex;

    align-items:center;
    gap: 16px;
}
.name{
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Neutral-100;
}
.position{
    font-weight: 400;
    font-size: $font-size-sm-p;
    line-height: 140%;
    text-transform: uppercase;
    color: $Neutral-80;
    margin-top: 4px;
}
.des{
    font-weight: 600;
    font-size: $font-size-lg-p;
    line-height: 130%;
    color: $Main-color-blue;
    margin-top: 16px;
}
.time{
    font-weight: 400;
    font-size: $font-size-sm-p;
    line-height: 140%;
    text-transform: uppercase;
    color: $Neutral-80;
    margin-top: 12px;
}
.allCols{
    width: 272px;
    height: 37px;
    border: 1px solid $Border-color-blue;
    border-radius: 4px;
    background: none;
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Main-color-blue;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}
