.pepolWrapp{
    
}
.pepol{
    height: 210px;
    padding: 24px 0 24px 0;
    border-bottom: 1px solid #DEDFE0;
}
.columns{
    grid-column: 1/2;
    height: 991px; 
    padding: 16px 16px 24px 16px;
    background: #FFFFFF;
    border-radius: 12px;
}
.wrapperCol{
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #2D2D2D;
}
.allCol{
    border: none;
    background:none;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FF7534;
    cursor: pointer;
}

.wrapperFoTex{
    display: flex;

    align-items:center;
    gap: 16px;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
}
.position{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #707070;
    margin-top: 4px;
}
.des{
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #182840;
    margin-top: 16px;
}
.time{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #707070;
    margin-top: 12px;
}
.allCols{
    width: 272px;
    height: 37px;
    border: 1px solid #979EA9;
    border-radius: 4px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #182840;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}
