
//blue
$Main-color-blue:#182840;
$Surface-color-blue: #D5D8DD;
$Border-color-blue: #979EA9;
$Hovered-color-blue:#111F33;
$Pressed-color-blue: #121B30;
$Focused-color-blue:rgba(24, 40, 64, 0.2);

//Orange
$Main-color-Orange:#FF7534;
$Surface-color-Orange: #FFEAE0;
$Border-color-Orange: #FFC1A3;
$Hovered-color-Orange:#F66623;
$Pressed-color-Orange: #F3560C;
$Focused-color-Orange: rgba(255, 117, 52, 0.25);

//Neutral colors
$Neutral-100: #2D2D2D;
$Neutral-90: #515151;
$Neutral-80: #707070;
$Neutral-70:#919191;
$Neutral-60:#B0B0B0;
$Neutral-50:#C4C4C4;
$Neutral-40:#DBDBDB;
$Neutral-30:#EBEBEB;
$Neutral-20:#F6F6F6;
$Neutral-10:#FFFFFF;

