@import '../../styles/variables/all.scss';

.news{
    grid-column: 1/2;
    padding: 16px 16px 24px 16px;
    background: $Neutral-10;
    border-radius: 12px;
    
}
.title{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.des{
    font-weight: 600;
    font-size: $font-size-md-h;
    line-height: 140%;
    color: $Neutral-100;
}
.lin{
    font-weight: 600;
    font-size: $font-size-md-p;
    line-height: 140%;
    border-bottom: 1px solid $Main-color-blue;
    color: $Main-color-blue;
}
.wrapperTab{
    width: 195px;
    height: 28px;
    margin-top: 32px;
    display: flex;
    gap: 8px;
}
.tab{
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Neutral-70;
    height: 28px;
    padding: 4px 8px 2px 8px;
    cursor: pointer;
}

.tabActive{
    color: $Main-color-Orange;
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    height: 28px;
    background: $Surface-color-Orange;
    border-radius: 4px;
    padding: 4px 8px 2px 8px;
    cursor: pointer;
}
.newsWrapper{
    margin-top: 32px;
    position: relative;
   
}

.newsWrapper:nth-last-child(1) .newsInfo { 
    hr{
        display: none;
    }
  }

.newsHeve{
    display: flex;
    margin-bottom:16px;
    height: 20px;
    gap: 12px;
}
.newsDes{
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Main-color-blue;
}
.newsHeveDesFire{
    font-weight: 600;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Main-color-Orange;
    display: flex;
    align-items: center;
}
.newsHeveDesCam{
    font-weight: 600;
    font-size: $Main-color-Orange;
    line-height: 140%;
    color: $Border-color-blue;
    display: flex;
    align-items: center;
}
.more{
    width: 272px;
    height: 38px;
    border: 1px solid $Border-color-blue;
    border-radius: 4px;
    background-color: $Neutral-10;
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Main-color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 24px;
    cursor: pointer;
}
.moreImg{
    width: 20px;
    height: 20px;
}
.whiteBlock{
    position: absolute;
    height: 75px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: linear-gradient(180deg, $Neutral-10 0%, hsla(0, 0%, 100%, 0) 105.15%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.timer{
    font-weight: 400;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Neutral-80;
}
