.news{
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 16px 16px 24px 16px;
    background: #FFFFFF;
    border-radius: 12px;
    
}
.title{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.des{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #2D2D2D;
}
.lin{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    border-bottom: 1px solid #182840;
    color: #182840;
}
.wrapperTab{
    width: 195px;
    height: 28px;
    margin-top: 32px;
    display: flex;
    gap: 8px;
}
.tab{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #919191;
    height: 28px;
    padding: 4px 8px 2px 8px;
    cursor: pointer;
}

.tabActive{
    color: #FF7534;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    height: 28px;
    background: #FFEAE0;
    border-radius: 4px;
    padding: 4px 8px 2px 8px;
    cursor: pointer;
}
.newsWrapper{
    margin-top: 32px;
    position: relative;
    
    hr{
        margin-top: 24px;
        
    }
}
.newsInfo{
    margin-top: 24px;
    hr{
        margin-top: 24px;
        
    }
}
.newsHeve{
    display: flex;
    margin-bottom:16px;
    height: 20px;
    gap: 12px;
}
.newsDes{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #182840;
}
.newsHeveDesFire{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FF7534;
    display: flex;
    align-items: center;
}
.newsHeveDesCam{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #979EA9;
    display: flex;
    align-items: center;
}
.more{
    width: 272px;
    height: 38px;
    border: 1px solid #979EA9;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #182840;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    bottom: 24px;
    cursor: pointer;
}
.moreImg{
    width: 20px;
    height: 20px;
}