.region{
    grid-column: 2/3;
    grid-row: 2/3;
}
.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.choiseTitle{
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #2D2D2D;
}
.regionAll{
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FF7534;
}
.regionWrapper{
    display: grid;
    grid-template-columns: repeat(3, (314.67px));
    column-gap: 16px;
    margin-top: 32px;
}
.regionCard{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 16px 32px 16px;
    min-height: 691px;
    position: relative;
}
.cardTitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #2D2D2D;
}
.listCard{
    margin-top: 24px;
    hr{
        margin-top: 16px;
        margin-bottom: 16px;
        
    }
}
.listCard hr:nth-last-child(1) { 
    display: none;
  }
.listCardData{
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #F3560C;
    margin-bottom: 12px;
}
.listTitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #182840;
    text-align: left;
}
.timer{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #707070;
}
.allNews{
    gap: 16px;
    border: none;
    background: none;
    width: 157px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #182840;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    position: absolute;
    margin-top: 64px;
    bottom: 32px;
}
.ring{
    width: 32px;
    height: 32px;
    border: 1px solid #979EA9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}