@import '../../styles/variables/all.scss';

.region{
    margin-top: 30px;
}
.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.choiseTitle{
    font-weight: 700;
    font-size: $font-size-lg-h;
    line-height: 130%;
    color: $Neutral-100;
}
.regionAll{
    font-weight: 600;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Main-color-Orange;
}
.regionWrapper{
    min-height: 691px;
    margin-top: 32px;
}
.regionCard{
    background: $Neutral-10;
    border-radius: 12px;
    padding: 16px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    min-height: 691px;
    width: 315px;
}
.regionCard button:last-of-type {
    margin-top: auto;
  }
.cardTitle{
    font-weight: 600;
    font-size: $font-size-md-h;
    line-height: 140%;
    color: $Neutral-100;
}
.listCard{
    margin-top: 24px;
    hr{
        margin-top: 16px;
        margin-bottom: 16px;
        
    }
}
.listTitle:nth-last-child(1) hr:nth-last-child(1) { 
    display: none;
  }
.listCardData{
    font-weight: 400;
    font-size: $font-size-sm-p;
    line-height: 140%;
    text-transform: uppercase;
    color: $Pressed-color-Orange;
    margin-bottom: 12px;
}
.listTitle{
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Main-color-blue;
    text-align: left;
}
.timer{
    font-weight: 400;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Neutral-80;
}

.allNews{
    gap: 16px;
    border: none;
    background: none;
    width: 157px;
    height: 32px;
    font-weight: 500;
    font-size: $font-size-lg-p;
    line-height: 140%;
    color: $Main-color-blue;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    
}
.ring{
    width: 32px;
    height: 32px;
    border: 1px solid $Border-color-blue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}