@import '../../styles/variables/all.scss';

.inform{
    border-top: 1px solid $Neutral-40;
    border-bottom: 1px solid $Neutral-40;
}
.container{
    display: block;
    max-width: 1320px;
    margin: 0 auto;
    padding: 58px 0 62px 0 ;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(6, minmax( 61px, auto));
    column-gap: 124.6px;
}
.informBlock{
    margin-bottom: 24px;
}
.title{
    font-weight: 600;
    font-size: $font-size-lg-p;
    line-height: 130%;
    color: $Neutral-100;
}
.descrip{
    font-weight: 400;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: $Neutral-90;
    margin-top: 8px;
}
.About{
    font-weight: 600;
    font-size: $font-size-lg-p;
    line-height: 130%;
    text-transform: uppercase;
    color: $Neutral-100;
    margin-bottom: 24px;
}
.contactUs{
    width: 895px;
    height: 88px;
    margin-top: 66px;
}
.contactUsTitle{
    font-weight: 600;
    font-size: $font-size-md-h;
    line-height: 140%;
    color: $Neutral-100;
}
.contactUswrapper{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.contactUsDes{
    font-weight: 400;
    font-size: $font-size-md-p;
    line-height: 140%;
    color: #434343;
    height: 22px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 12px;
    
}